*{ padding: 0;
margin: 0; 
box-sizing: border-box;
font-family: 'Poppins', sans-serif;}

body{ background: #000000; }

img{ height: 500px;
display: block;
margin-right: auto;
margin-left: auto; }

#div-numero{ background: #ffffff;
display: block;
margin-right: auto;
margin-left: auto; 
width: 340px;
border-radius: 6px; 
padding-left: 19px; }

#div-botao{ 
text-align: center; 
margin-top: 20px; }

.numeros{ font-weight: 600;
font-size: 50px;
text-align: center; }

.botoes{ color: #83A400;
padding: 6px 16px; 
border: none;
border-radius: 4px;
cursor: pointer; }

.parar{ padding-right: 26px;
padding-left: 26px; }

#mili{ color: #83a400; }








